.rateitems {
   padding-left: 5px;
   height: 450px;
   overflow-x: scroll;
   overflow-y: scroll;
   max-width: 100%;
}

.border-box {
   padding: 5px;
}

.btn-warning {
   color: white; 
   font-size: 120%;
}
